{% extends "main_page.html" %}
{% block submitbox %}

<form action="{{ url_for('submit_page') }}" method="POST" id="submit">
<table>
    <tr>
        <td class="label"> Mode </td>
        <td>
            <select name="mode" form="submit" id="mode" tabindex=1>
            <option value="off">off</option>
            <option value="cool">cool</option>
            <option value="heat">heat</option>
            </select>
        </td>
        <td rowspan="2">
            <input type="submit" id="submit_button" tabindex=3>
        </td>
    </tr>
    <tr>
        <td class="label"> Temperature </td>
        <td>
            <input type="number"
                   name="temperature"
                    min="64"
                    max="86"
                   step="2"
                  value="86"
               tabindex=2 >
        </td>
    </tr>
</table>
</form>

{% endblock %}
