/*
Original design: Leaves (v1.0 - Aug 29th, 2013)
For more information, see http://andreasviklund.com/dt_portfolio/leaves/
*/

*{margin:0; padding:0;}

/* General styles */
body {background-color:#000; color:#ccc; font:100% "Lato",Tahoma,sans-serif; line-height:1.5em;}
a {color:#B9291C; text-decoration:none; font-weight:400;}
a:hover {text-decoration:underline;}
p,ul,ol,dl {margin:0 0 15px 0; line-height:1.6em;}
h1 {color:#888; font-size:4.6em; margin-bottom:0;}
h1 a {text-transform:none; font-weight:400;}
h1 a:hover {text-decoration:none; color:#eee;}
h2 {font-size:2.8em; color:#333; margin:0 0 10px;}
h3 {font-size:1.8em; margin:0 0 10px 0;}
h1,h2,h3,.navmenu a {color:#B9291C; font-weight:400; line-height:1.4em;}

/* Main layout container */
#layout {margin:40px auto 0; width:960px;}
body.wider #layout {margin:40px auto 0; width:1200px;}

/* Footer */
#footer {}
#footer .col {color:#555; border-top:1px dotted #1a1a1a; padding:20px 0 0;}
#footer p {text-align:center;}
#footer a {color:#555; font-weight:400; text-decoration:none; border-bottom:1px dotted #333;}
#footer a:hover {color:#aaa; text-decoration:none; border-bottom:1px dotted #888;}

/* Grid classes, fixed width, 960px with 12 columns */
.col {float:left; margin:0 10px; overflow:hidden; float:left; display:inline;}
.col img {max-width:100%;}
.row {width:960px; margin:20px auto 0; overflow:hidden;}
.row .row {margin:0 -10px; width:auto;	display:inline-block;}
.c1 {width:60px;}
.c2 {width:140px;}
.c3 {width:220px;}
.c4 {width:300px;}
.c5 {width:380px;}
.c6 {width:460px;}
.c7 {width:540px;}
.c8 {width:620px;}
.c9 {width:700px;}
.c10 {width:780px;}
.c11 {width:860px;}
.c12 {width:940px;}

/* Grid classes, fixed width, 1200px with 12 columns - add class="wider" to the <body> element to use this */
body.wider .row {width:1200px;}
body.wider .c1 {width:80px;}
body.wider .c2 {width:180px;}
body.wider .c3 {width:280px;}
body.wider .c4 {width:380px;}
body.wider .c5 {width:480px;}
body.wider .c6 {width:580px;}
body.wider .c7 {width:680px;}
body.wider .c8 {width:780px;}
body.wider .c9 {width:880px;}
body.wider .c10 {width:980px;}
body.wider .c11 {width:1080px;}
body.wider .c12 {width:1180px;}

/* Menu list styles */
ul.menu {list-style:none; margin:0; padding:10px 0; border-top:1px solid #333;}
ul.menu li {list-style:none; text-align:center; font-size:1.2em; margin:0 0 10px; padding:0 0 8px 0; color:#888; border-bottom:1px solid #333;}
ul.menu li a {font-size:1.2em; font-weight:400;}
ul.menu li a:hover {color:#eee; text-decoration:none;}

/* Additional text classes */
.slogan {color:#bbb; font-size:1.2em;}
.alignleft {text-align:left;}
.alignright {text-align:right;}
.aligncenter {text-align:center;}
.alignjustify {text-align:justify;}
.nomargin {margin:0; padding:0;}
.larger {font-size:1.2em;}
.smaller {font-size:0.9em;}
.spacer {margin:0 20px;}
.clear {clear:both;}
.hide {display:none;}
.border {border:1px solid red;}
body .navmenu {line-height:2.6em;}

/* Classes added by Ted for the RaspAC project */
.flash { background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2;
         text-align: center }
.error { background: #f0d6d6; padding: 0.5em; }
table { border-collapse:separate; border-spacing:25px 5px; }
select#mode { width: 62px } /* makes it same width as temp input */
input#submit_button {
	background-image: 	url(submit_button.png);
	background-repeat:	no-repeat;
	background-color:	transparent;
    cursor: pointer;
	height:			53px;
	width:			53px;
	border:			none;
	text-indent:		-999em; }
input#login_button {
	background-image: 	url(login_button.png);
	background-repeat:	no-repeat;
	background-color:	transparent;
    cursor: pointer;
	height:			53px;
	width:			53px;
	border:			none;
	text-indent:		-999em; }


/* Light styles, apply by using class="light" on the body HTML element */
body.light {background:#fff; border-top:4px solid #B9291C; border-bottom:8px solid #B9291C; color:#888;}
body.light a {color:#B9291C;}
body.light a:hover {color:#555;}
body.light h1 {color:#888; font-size:4.6em; margin-bottom:0;}
body.light h1 a:hover {color:#303030;}
body.light h2 {color:#555;}
body.light h1, body.light h2, body.light h3 {color:#B9291C;}
body.light ul.menu {border-top:1px solid #ddd;}
body.light ul.menu li {border-bottom:1px solid #ddd;}
body.light ul.menu li a:hover {color:#333;}
body.light .slogan {color:#888;}
body.light #footer .col {color:#555; border-top:1px dotted #ccc;}
body.light #footer a {color:#555; border-bottom:1px dotted #ddd;}
body.light #footer a:hover {color:#444; border-bottom:1px dotted #eee;}
body.light .navmenu a {font-size:1.4em;}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.navmenu a {font-size:1.2em; margin: 0 20px 30px;}
.headerimage img {border-radius:12px;}

@media only screen and (max-width : 960px){
#layout, body.wider #layout {width:auto; margin:0; padding:20px;}
.row {width:100%;}
.col {margin:0 0 20px 0;}
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {width:100%;}
h1 {margin:-15px auto 5px; line-height:1.4em;}
body .navmenu {margin:0px 0 -15px;}
body .navmenu a {font-size:1.4em; display:inline-block; line-height:2.0em;padding:7px 12px; margin:0 10px 8px 0; background-color:#111; border:1px solid #222; border-radius:10px;}
body.light .navmenu a {font-size:1.4em; display:inline-block; line-height:2.0em;padding:7px 12px; margin:0 10px 8px 0; background-color:#fff; border:1px solid #eee; border-radius:10px;}
body .navmenu a.current {border-color:#444;}
body.light .navmenu a.current {border-color:#ddd;}
.headerimage img {width:100%; height:auto;}
}
